<?xml version="1.0" encoding="utf-8" ?>
<configuration>

    <connectionStrings>
        <add name="AiServiceUrl" connectionString="PYTHON_SERVICE_ADRESS"/>
    </connectionStrings>

    <appSettings>
        <add key="PlastimatchPath" value="PATH_TO_PLASTIMATCH_EXECUTABLE"/>
        <add key="ModelsEvaluationDirectory" value="PATH_TO_EVALUATION_DIRECTORY"/>
    </appSettings>

</configuration>